.myHeight {
    width: 17rem;
    height: auto;
}

.size {
    height: 2rem;
    width: auto;
}

body {
    background-color: #fb0506;
}

#myImgFont {
    background-color: white;
    height: 17rem;
}

#myContentFont {
    background-color: #30fa06;
    height: 17rem;
}