.myHeight {
    width: 16rem;
    height: auto;
}

#myParent {
    position: relative;
    top: 0;
    left: 0;
}

#pkdx {
    position: relative;
    top: 0;
    left: 0;
}

#myImg {
    position: absolute;
    top: 7rem;
    left: 4rem;
}

#description {
    position : absolute;
    top: 8rem;
    left: 25rem;
}
.size {
    height: 2rem;
    width: auto;
}